/******************** General ********************/

body {
    font-family: 'Montserrat', sans-serif;
}

.container {
    width: 1160px;
    text-align: center;
    margin: 0 auto;
}

/******************** Header and first acquaintance ********************/

.header-background {
    background: url("../images/sections-background/header.jpg") fixed no-repeat;
    background-size: cover;
    color: #fff;
    text-align: center;
}

.main-menu-section {
    height: 120px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    margin-left: 80px;

}

.hexagon {
    position: relative;
    width: 50px;
    height: 30px;
    background-color: #18cfab;
    margin: 16px 0;
    display: flex;
    justify-content: center;
    align-items: center;

}

.hexagon:before,
.hexagon:after {
    content: "";
    position: absolute;
    width: 0;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;

}

.hexagon:before {
    bottom: 100%;
    border-bottom: 16px solid #18cfab;
}

.hexagon:after {
    top: 100%;
    width: 0;
    border-top: 16px solid #18cfab;
}


.logo-link {
    text-decoration: none;
    color: white;
}

.logo-h {
    color: #ffffff;
    padding: 0 9px;
    font-size: 40px;
    font-weight: 800;
    position: relative;
    list-style-type: none;
    text-decoration: none;
}

.logo-the {
    padding-left: 3px;
}

.logo-ham {
    color: #18cfab;
    font-weight: 800;
}

.nav-bar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 15%;
}

.main-menu {
    text-transform: uppercase;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 666px;
}

.nav-bar-item {
    color: #a8a8a7;
    font-size: 13px;
    font-weight: bold;
    text-decoration: none;
}

.nav-bar-item:hover {
    color: #18cfab;
    border-bottom: 2px solid #18cfab;
    line-height: 120px;
    padding-bottom: 1 px-;
    padding-top: 1px;
}

.search a {
    color: #a8a8a7;
}

.search a:hover {
    color: #18cfab;
}

/******************** First acquaintance ********************/

.text-before-h1 {
    line-height: 84px;
    font-size: 35px;
    text-transform: uppercase;
    font-weight: bold;
}

.blue-text {
    color: #18cfab;
}

h1 {
    font-weight: 700;
    font-size: 79px;
}

.text-after-h1 {
    font-size: 34px;
    line-height: 84px;
    color: #d4d4d4;
    text-transform: capitalize;
}

.explore {
    color: white;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 32px;
    height: 61px;
    cursor: pointer;
    font-weight: 700;
    width: 165px;
    border-radius: 5px;
    border: 0 none;
    border-top: 5px solid white;
    background-color: #18cfab;
}

.explore:hover {
    opacity: 0.8;
}

.purchase {
    color: white;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 32px;
    height: 61px;
    cursor: pointer;
    font-weight: 700;
    width: 165px;
    border-radius: 5px;
    border: 0 none;
    border-top: 5px solid white;
    background-color: #00cbf6;
}

.purchase:hover {
    opacity: 0.8;
}

.main-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding-top: 143px;
    width: 362px;
    padding-bottom: 245px;
}

/******************** Features blocks ********************/

.features-blocks {
    display: flex;
    justify-content: space-around;
}

.black-block {
    background-color: #1c2a33;
    box-sizing: border-box;
    border-top: 8px solid #18cfab;
}

.blue-block {
    background-color: #18cfab;
    border-top: 8px solid white;
}

.feature-block {
    width: 25%;
    text-align: center;
}

.feature-icon-blue {
    padding-top: 22%;
    padding-bottom: 6%;
}

.feature-icon-white {
    padding-top: 25%;
    padding-bottom: 10%;
}

.black-block p {
    font-size: 20px;
    color: #18cfab;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 60px;
    padding-bottom: 10%;
}

.blue-block p {
    font-size: 20px;
    color: white;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 60px;
    padding-bottom: 10%;

}

/******************** Our services ********************/

h3 {
    font-size: 36px;
    line-height: 120px;
    color: #4e4e4e;
    text-align: center;
    text-transform: capitalize;
}

.line-after-h3 {
    width: 90px;
    border-style: solid;
    border-color: #18cfab;
    box-shadow: 14px 5px 0px #18cfab;
    margin-bottom: 50px;
}

.our-services-tabs {
    margin: 0 0 30px;
}

.tabs_caption {
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
}

.tabs_caption .tabs_caption-active {
    background-color: #18cfab;
    color: white;
    position: relative;
    box-sizing: border-box;
    border: 1px solid #18cfab;
}

.tabs_caption-active::after {
    content: '';
    position: absolute;
    left: 45%;
    bottom: -20px;
    border: 10px solid transparent;
    border-top: 10px solid #18cfab;
}

.tab_caption {
    text-align: center;
    vertical-align: middle;
    border: 1px solid #ebebeb;
    background-color: #f8fcfe;
    font-size: 16px;
    line-height: 70px;
    color: #717171;
    width: 168px;
    cursor: pointer;
    box-sizing: border-box;
    text-transform: capitalize;

}

.tabs_caption li:not(.tabs_caption-active):hover {
    opacity: 0.8;
}

.tabs_content.tabs_content-active {
    display: block;

}

.tabs_content {
    display: none;
    width: 1006px;
    text-align: justify;
    padding-left: 76px;
}

.services-img-web-design {
    margin-right: 20px;
    float: left;
}

.tabs_content p {
    font-size: 14px;
    line-height: 24px;
    color: #777777;
    font-weight: 300;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

/******************** Everything is ready ********************/
.everything-is-ready {
    text-align: center;
    height: 475px;
    background: linear-gradient(rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.7)),
    url(../images/sections-background/section-2.jpg) fixed no-repeat;
    background-size: cover;
}

h2 {
    color: #18cfab;
    padding-top: 128px;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: bold;
}

.text-after-h2 {
    font-size: 16px;
    color: #737171;
    margin-top: 35px;
    margin-bottom: 80px;
}

/******************** Our amazing work ********************/

.our-amazing-work {
    background-color: #f8fcfe;
    overflow: hidden;
}

.amazing-work-tabs ul {
    margin-bottom: 70px;
    text-transform: capitalize;
    color: #717171;
    font-size: 14px;
    display: flex;
    justify-content: center;
}

.amazing-work-tab {
    padding: 20px 30px;
    border: 1px solid #ebebeb;
    cursor: pointer;
}

.amazing-work-tab.amazing-work-tab-active {
    color: #18cfab;
    border-top: 1px solid #18cfab;

}

.amazing-work-tabs li:not(.amazing-work-tab-active):hover {
    opacity: 0.5;
}

.amazing-work-img {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.amazing-work-img-block {
    position: relative;
    height: 204px;
    width: 284px;
    display: none;
}

.amazing-hover {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: absolute;
    height: 100%;
    opacity: 0;
    background-color: #f8fcfe;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-top: 2px solid #18cfab;
    transition: 0.3s;
    text-align: center;
    cursor: pointer;
}

.amazing-hover:hover {
    opacity: 1;
    transition: 0.3s;
}

.amazing-hover-title {
    color: #18cfab;
    line-height: 25px;
    font-weight: 700;
    text-transform: capitalize;
}

.amazing-hover-text {
    font-size: 12px;
    line-height: 25px;
    color: #8a8a8a;
    text-transform: capitalize;
}

.amazing-hover-icon-link {
    color: #18cfab;
    border-radius: 50%;
    border: 1px solid #18cfab;
    padding: 12.5px;
    width: 20px;
    height: 17px;
}

.amazing-hover-icon-link:hover {
    color: #f8fcfe;
    border: 1px solid #18cfab;
    padding: 12.5px;
    width: 20px;
    height: 17px;
    background-color: #18cfab;
    transition: 0.3s;
}

.amazing-hover-icon-search {
    color: #18cfab;
    border-radius: 50%;
    border: 1px solid #18cfab;
    padding: 13px 15px 12px 15px;
    margin-right: 5px;
}

.amazing-hover-icon-search:hover {
    color: #f8fcfe;
    background-color: #18cfab;
    transition: 0.3s;
}

.load-more {
    background-color: #18cfab;
    color: white;
    border-radius: 4px;
    font-size: 14px;
    line-height: 60px;
    width: 166px;
    font-weight: bold;
    cursor: pointer;
    border: 0;
    margin-top: 71px;
    margin-bottom: 71px;
    text-transform: uppercase;

}

.load-more span {
    display: inline-block;
    padding-left: 5px;
}

.load-more:hover {
    opacity: 0.8;
}

.noContent {
    color: blue !important;
    background-color: transparent !important;
    pointer-events: none;
}

/******************** Breaking news ********************/


.full-width-line {
    background-color: #e1e1e1;
    margin-top: 0px;
}

.news-previews {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 45px;
    grid-column-gap: 25px;
    margin-bottom: 130px;
}

.news-preview {
    display: grid;
}

.news-block {
    text-decoration: none;
    position: relative;
    background-color: #f8fcfe;
    text-align: left;
    width: 263px;
}

.news-block-data {
    position: absolute;
    right: 0;
    top: 0;
    color: white;
    font-size: 16px;
    text-align: center;
    background-color: #203e38;
    padding: 15px 18px;
}

.news-preview-content {
    color: #717171;
    padding-left: 14px;
    display: inline-block;
    box-sizing: border-box;
    border: 1px solid #ececec;
    width: 100%;
}

.news-preview-title {
    text-transform: capitalize;
    font-size: 18px;
    font-weight: bold;
    line-height: 40px;
}

.news-preview-second-line {
    display: inline-block;
    padding-bottom: 10px;
}

.news-preview-author {
    display: inline-block;
}

.short-vertical-line {
    display: inline-block;
    margin-left: 8px;

}

.news-preview-comments {
    display: inline-block;
    margin-left: 8px;
}

.news-block:hover .news-block-data {
    background-color: #18cfab;
}

.news-block:hover .news-preview-title {
    color: #18cfab;
}

/******************** What people say ********************/

.people-say-container {
    text-align: center;
    width: 1160px;
    margin: 0 auto;
    position: relative;
    padding-bottom: 70px;
}

h4 {
    font-size: 36px;
    padding-top: 90px;
    margin-bottom: 35px;
    color: #ffffff;
}

.people-say {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../images/sections-background/section-3.jpg);
    background-size: cover;
}

.people-say-text {
    font-size: 16px;
    line-height: 30px;
    color: #bbbbbb;
    text-align: center;
    padding-top: 38px;
}

.people-say-name {
    text-transform: uppercase;
    font-size: 16px;
    line-height: 27px;
    color: #18cfab;
    font-weight: 700;
    padding-top: 38px;
    text-align: center;
}

.people-say-position {
    font-size: 16px;
    line-height: 30px;
    color: #bbbbbb;
    text-align: center;
}

.quotes {
    padding-top: 8px;
}

.people-say-ava {
    height: 140px;
    width: 140px;
    margin-top: 25px;
    border: 3px solid #18cfab;
    border-radius: 50%;
    box-shadow: 0 0 0 10px rgba(26, 206, 170, 0.3);
}

/******************** What people say - Swiper ********************/

.swiper-container {
    width: 100%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;

}

.swiper-slide {
    background-size: cover;
    background-position: center;
}

.gallery-top {
    height: 380px;
    margin-bottom: 30px;
}

.gallery-thumbs {
    width: 405px;
    box-sizing: border-box;
    height: 111px;
}

.gallery-thumbs .swiper-slide {
    border-radius: 50%;
    box-shadow: 0 0 0 5px rgba(26, 206, 170, 0.3);
    height: 60px;
    width: 60px !important;
}

.swiper-container.gallery-thumbs .swiper-wrapper {
    padding-top: 33px;
    padding-left: 28px;
}

.gallery-thumbs .swiper-slide-thumb-active {
    border: 1px solid #18cfab;
    bottom: 20px;
}

.swiper-button-next {
    top: 736px !important;
    left: 791px !important;
    height: 10px !important;
    width: 10px !important;
    border: 1px solid white;
    padding: 7px;
}

.swiper-button-prev {
    left: 344px !important;
    top: 736px !important;
    height: 10px !important;
    width: 10px !important;
    border: 1px solid white;
    padding: 7px;
}

.swiper-button-next:after, .swiper-button-prev:after {
    font-size: 15px !important;
}

.swiper-button-next:before, .swiper-button-prev:before {
    font-size: 15px !important;
}

.swiper-button-white:hover {
    background-color: #18cfab;
    border: 1px solid #18cfab;
    color: white;
}


/******************** Gallery of best images ********************/

.container-gallery-best-images {
    width: 1160px;
    text-align: center;
    margin: 0 auto;
}

.gallery-best-img-title {
    font-size: 36px;
    line-height: 120px;
    color: #4e4e4e;
    text-align: center;
}

.sizer1 {
    width: 100%;
}

.sizer2 {
    width: 50%;
}

.sizer4 {
    width: 32%;
}

.item-masonry {
    position: relative;
}

.item-masonry img {
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: 20px;
}

.cover-item-gallery {
    background-color: rgba(0, 0, 0, 0.3);
    opacity: 0;
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
}

.cover-item-gallery:hover {
    background-color: rgba(0, 0, 0, 0.3);
    opacity: 1;
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    height: calc(100% - 20px);
}

.gallery-best-img-icons img:hover {
    opacity: 0.8;
}

.gallery-best-img-icons img {
    width: 40px;
    height: 36px;
}

.gallery-best-icon-search {
    margin-right: 8px;
    display: inline-block;
    border: 2px solid #14b9d5;
    border-radius: 4px;
    opacity: 1;
}

.gallery-best-icon-expand {
    border: 2px solid #14b9d5;
    border-radius: 4px;
}

.cover-item-gallery a {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

/******************** Preload ********************/

.hide {
    display: none;
}

.loader {
    font-size: 45px;
    text-indent: -9999em;
    overflow: hidden;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    margin: 72px auto;
    position: relative;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load6 1.7s infinite ease;
    animation: load6 1.7s infinite ease;
}

@-webkit-keyframes load6 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        box-shadow: 0 -0.83em 0 -0.4em #999999, 0 -0.83em 0 -0.42em #999999, 0 -0.83em 0 -0.44em #999999, 0 -0.83em 0 -0.46em #999999, 0 -0.83em 0 -0.477em #999999;
    }
    5%,
    95% {
        box-shadow: 0 -0.83em 0 -0.4em #999999, 0 -0.83em 0 -0.42em #999999, 0 -0.83em 0 -0.44em #999999, 0 -0.83em 0 -0.46em #999999, 0 -0.83em 0 -0.477em #999999;
    }
    10%,
    59% {
        box-shadow: 0 -0.83em 0 -0.4em #999999, -0.087em -0.825em 0 -0.42em #999999, -0.173em -0.812em 0 -0.44em #999999, -0.256em -0.789em 0 -0.46em #999999, -0.297em -0.775em 0 -0.477em #999999;
    }
    20% {
        box-shadow: 0 -0.83em 0 -0.4em #999999, -0.338em -0.758em 0 -0.42em #999999, -0.555em -0.617em 0 -0.44em #999999, -0.671em -0.488em 0 -0.46em #999999, -0.749em -0.34em 0 -0.477em #999999;
    }
    38% {
        box-shadow: 0 -0.83em 0 -0.4em #999999, -0.377em -0.74em 0 -0.42em #999999, -0.645em -0.522em 0 -0.44em #999999, -0.775em -0.297em 0 -0.46em #999999, -0.82em -0.09em 0 -0.477em #999999;
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
        box-shadow: 0 -0.83em 0 -0.4em #999999, 0 -0.83em 0 -0.42em #999999, 0 -0.83em 0 -0.44em #999999, 0 -0.83em 0 -0.46em #999999, 0 -0.83em 0 -0.477em #999999;
    }
}

@keyframes load6 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        box-shadow: 0 -0.83em 0 -0.4em #999999, 0 -0.83em 0 -0.42em #999999, 0 -0.83em 0 -0.44em #999999, 0 -0.83em 0 -0.46em #999999, 0 -0.83em 0 -0.477em #999999;
    }
    5%,
    95% {
        box-shadow: 0 -0.83em 0 -0.4em #999999, 0 -0.83em 0 -0.42em #999999, 0 -0.83em 0 -0.44em #999999, 0 -0.83em 0 -0.46em #999999, 0 -0.83em 0 -0.477em #999999;
    }
    10%,
    59% {
        box-shadow: 0 -0.83em 0 -0.4em #999999, -0.087em -0.825em 0 -0.42em #999999, -0.173em -0.812em 0 -0.44em #999999, -0.256em -0.789em 0 -0.46em #999999, -0.297em -0.775em 0 -0.477em #999999;
    }
    20% {
        box-shadow: 0 -0.83em 0 -0.4em #999999, -0.338em -0.758em 0 -0.42em #999999, -0.555em -0.617em 0 -0.44em #999999, -0.671em -0.488em 0 -0.46em #999999, -0.749em -0.34em 0 -0.477em #999999;
    }
    38% {
        box-shadow: 0 -0.83em 0 -0.4em #999999, -0.377em -0.74em 0 -0.42em #999999, -0.645em -0.522em 0 -0.44em #999999, -0.775em -0.297em 0 -0.46em #999999, -0.82em -0.09em 0 -0.477em #999999;
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
        box-shadow: 0 -0.83em 0 -0.4em #999999, 0 -0.83em 0 -0.42em #999999, 0 -0.83em 0 -0.44em #999999, 0 -0.83em 0 -0.46em #999999, 0 -0.83em 0 -0.477em #999999;
    }
}


/******************** Footer ********************/

.footer-text {
    line-height: 108px;
    font-size: 14px;
    color: #aeaeae;

}

.footer {
    background-color: #22353f;
}

.footer-text a {
    color: #18cfab;
    text-decoration: none;
}

.footer-text a:hover {
    text-decoration: underline;
}






